{% extends 'header.html' %}
{% load static %}
      {% block info %}
    <div class="card-deck">
      <form method="post">
        {% csrf_token %}
        {% for i,j,k,l,n,m,o,p in products %}
        <div class="card">
          <img class="card-img-top" src="{% static o %}" alt="Card image cap">
          <h4>{{i}}</h4>
          <p class="card-text">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">item</th>
                        <th scope="col">info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>  
                        <td>cost</td>  
                        <td>{{j}}</td>
                    </tr>
                    <tr>
                        <td>location</td>
                        <td>{{k}}</td>
                    </tr>
                    <tr>
                        <td>start ate</td>
                        <td>{{l}}</td>
                    </tr>
                    <tr>
                        <td>en ate</td>
                        <td>{{m}}</td>
                    </tr>
                    <tr>
                        <td>supplier name</td>
                        <td>{{n}}</td>
                    </tr>
                </tbody>
            </table>
          </p>
          <input type="submit" value="buy this product" name="{{i}}">
        </div>
        {% endfor %}
        <input type="submit" name="checkout" >
      </form>
    </div> 
    {% endblock %}



  </body>
  </html>